label#bt-star.bt5 ☆
input name="starValue" type="radio" value="5"
label#bt-star.bt4 ☆
input name="starValue" type="radio" value="4"
label#bt-star.bt3 ☆
input name="starValue" type="radio" value="3"
label#bt-star.bt2 ☆
input name="starValue" type="radio" value="2"
label#bt-star.bt1 ☆
input name="starValue" type="radio" value="1"
label.bt0 ◯
input name="starValue" type="radio" value="0"
