@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

html, body {

}

body {
  margin: auto;
  background: #757575;
  font-family: 'Quicksand', sans-serif;
  font-size: large;
  font-weight: bold;
}

input {
  outline: 0;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 1px 3px;
}

::-webkit-scrollbar {
  display: none;
}

.inner {
  .inner_links {
    position: fixed;
    z-index: 1;
    left: 5px;
    top: 3px;
  }

  .input_search {
    position: fixed;
    width: 250px;
    z-index: 1;
    right: 0;
    top: 0;

    input {
      padding: 5px;
      text-indent: 20px;
      background-size: 15px;
      background-position: 5px 5px;
      background-repeat: no-repeat;
      background-image: url('/images/search.svg');
    }
    input:focus {
      text-indent: 0px;
      background-image: none;
    }
  }

  .search-main {
    .search-sub {
      display: flex;
      flex-wrap: wrap;
      text-align: center;

      .search-block {
        width: 124px;
        margin: 0 5px;

        img {
          width: 124px;
          height: 124px;
        }
      }
    }
  }
}

.back {
  position: absolute;
}

#a {
  // padding: 0 5px;
  z-index: 1;
  top: 30px;
  left: 5px;
}

.home {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .home-a {
    text-align: center;

    p {
      width: 124px;
      border: 1px solid rgba(0, 0, 0, 0.1);
      background: rgb(80, 80, 80);
      color: white;
    }
    a {
      display: none;
      margin: 5px 0;
      outline: none;
      text-decoration: none;
      color: black;
      animation: fadein 0.5s;
    }
    img {
      width: 124px;
      height: 124px;
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    }
  }
}

@keyframes fadein {
  from {opacity: 0}
  to {opacity: 1}
}

.home-a:hover a {
  display: block;
  opacity: 1;
}

.h-title {
  padding: 5px 0;
  display: flex;
  cursor: pointer;
  justify-content: center;

  img {
    width: 20px;
    height: 20px;
    margin: 2px 5px;
    border-radius: 50%;
    box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.5);
  }
}

.main, #centr {
  text-align: center;
}

.cc {
  padding: 30px;
}

.h-main {
  display: none;
  width: 900px;
  margin: 0 auto;
  justify-content: center;

  .h-char {
    width: 100px;
    margin: 5px;

    .h-avatar {
      width: 100px;
      height: 100px;
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);

      a {
        display: block;
      }
      img {
        width: 100px;
        height: 100px;
      }
    }

    .h-sub {
      display: flex;

      .h-name {
        margin: auto;
      }
      .h-type {
        padding: 3px;

        img {
          width: 14px;
        }
      }
    }
  }
}

/*
  Hero Show
*/

.char {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.c-main {
  display: flex;
  margin: 0 auto;
  padding: 15px;
  flex-wrap: wrap;
  font-size: 18px;
  text-shadow: 0 0 10px white;
  min-height: calc(100vh - 30px);
  backdrop-filter: blur(3px) saturate(0.3) grayscale(0.5) opacity(0.8);
}

.c-background {
  margin: auto;
  padding: 5px;

  p {
    height: 0;
    width: 875px;
    bottom: 675px;
    margin: 0 auto;
    position: relative;
    text-align: center;
  }
}

.c-sub {
  margin: auto;
  padding: 5px;

  .c-avatar {
    img {
      border-radius: 10%;
    }
  }
  .c-title {
    display: flex;
    justify-content: center;

    img {
      width: 20px;
      height: 20px;
    }
    p {
      margin: 0 3px;
    }
    #c-class img {
      border-radius: 50%;
      box-shadow: 0 0 3px 1px black;
    }
  }
  .c-sk, .c-tr, .c-p, .c-g {
    display: flex;

    .c-perk-img {
      margin: 3px;
      width: 52px;
      height: 52px;

      img:not(#manaOrb) {
        width: 50px;
        height: 50px;
      }
    }
    .c-pepe {
      display: grid;
      grid-template:
          "item1 item2 item3 item4"
          "item5 item6 item7 item8";
    }
  }
  .c-p {
    h4 {
      width: 15px;
    }
    .p-description {
      width: 415px;
      border: 1px solid;
      border-radius: 10px 10px 10px 10px;
      background: rgba(210, 210, 210, 1);
      display: none;
      position: relative;
      margin: -50px 60px;
      padding: 0px 5px;
      font-size: medium;

      p {
        padding: 3px;
      }
    }
  }
  .c-stat {
    padding: 2px 0;
    #c-stat {
      text-align: center;
    }
  }
  #statBase {
    .r-stat {
      grid-template: "item1 item2";
    }
  }
  #statAdd {
    .r-stat {
      grid-template: "item1 item2 item3";
    }
    #s-per {
      margin-left: -40px;
    }
  }
  #statBase:before {
    content: '';
    background: url('/images/media/classes/base head.png');
    background-size: 285px;
    height: 20px;
    display: block;
  }
  #statAdd:before {
    content: '';
    background: url('/images/media/classes/add head.png');
    background-size: 285px;
    height: 20px;
    display: block;
  }
  #statBase:after, #statAdd:after {
    content: '';
    background: url('/images/media/classes/stat foot.png');
    background-size: 285px;
    height: 8px;
    display: block;
  }
  .r-stat {
    display: grid;
    background-image: url('/images/media/classes/stat.png');
    background-size: 285px 25px;
    font-size: 14px;
    line-height: 25px;
    color: #ab8e74;

    #s-name {
      width: 90px;
      padding-left: 15px;
    }
    #s-val {
      width: 160px;
      padding: 0 10px;
    }
  }
}

.s-description {
  width: 500px;
  border: 1px solid;
  border-radius: 10px 10px 10px 10px;
  background: rgba(210, 210, 210, 1);
  display: none;
  position: relative;
  margin: -50px 60px;
  padding: 0px 5px;
  font-size: medium;

  p {
    padding: 3px;
  }
}

.calc-s-description {
  width: 400px;
  border: 1px solid;
  border-radius: 10px 10px 10px 10px;
  background: rgba(210, 210, 210, 1);
  display: none;
  position: relative;
  margin: -50px 60px;
  padding: 0px 5px;
  font-size: medium;

  p {
    padding: 3px;
  }
}
.c-perk-img:hover .p-description, .c-perk-img:hover .s-description, .c-perk-img:hover .calc-s-description  {
  display: grid;
  gap: 1px 1px;
  grid-template-areas: "p1 p1" "p2 p3" "p4 p4";

  .p1 {
    grid-area: p1;
    font-weight: bold;
    padding: 10px 5px 5px 5px;
  }
  .p2 {
    grid-area: p2;
    height: 20px;
    padding: 5px;
    margin: auto;
    margin-left: 0;
  }
  .p3 {
    grid-area: p3;
    height: 20px;
    margin: auto;
    margin-right: 0px;
    padding-right: 10px;
   }
  .p4 {
    grid-area: p4;
    padding: 10px 5px;

    img {
      width: 20px !important;
      height: 20px !important;
      margin: -5px 5px;
    }
    .a1, .a2 {
      padding: 3px;
    }
    #a1 {
      filter: hue-rotate(90deg) saturate(2) drop-shadow(1px 1px 0 black);
    }
    #a2 {
      filter: hue-rotate(180deg) saturate(2) drop-shadow(1px 1px 0 black);
    }
  }
}

#manaOrb {
  width: 16px;
  margin: -2px 0px;
}

#c-skill {
  margin: auto;
}

input {
  width: -webkit-fill-available;
}

/*
  Perk
*/

.perk {
  padding: 10px;

  .p-hero {
     display: flex;
     p {
       padding: 0 5px;
     }
  }
}

.p-main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .p-perk {
    margin: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);

    .p-image {
      width: 75px;
      height: 75px;
      cursor: pointer;

      a {
        display: block;
      }
      img {
        width: 75px;
        height: 75px;
      }
    }
  }
}

/*
  Skill
*/

.skill-main {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
}

.skill {
  padding: 10px;
  margin-top: 30px;

  .p-img {
    padding: 5px;

    img {
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    }
  }
}

.s-main {
  width: 600px;
  margin: 5px auto;

  .s-title {
    display: flex;
    justify-content: center;
  }

  .s-skills {
    display: flex;
    justify-content: center;

    .s-image {
      margin: 5px;

      img {
        width: 75px;
        height: 75px;
      }
    }
  }
}

#char-icon {
  width: 24px;
  border-radius: 50%;
}

/*
  Class
*/

.r-stats {
  // width: 320px;
  // margin: auto;

  .class {
    display: flex;
    justify-content: center;

    p {
      margin: 5px;

      img {
        border-radius: 50%;
        box-shadow: 0 0 5px 1px black;
      }
      a {
        display: block;
        outline: none;
        text-decoration: none;
        color: black;
      }
    }
  }
  .r-stat {
    display: grid;
    grid-template: "item1 item2 item3";
    text-align: center;

    p {
      width: 150px;
      margin: 5px;
    }
  }
}

/*
  Rune
*/

.r {
  display: flex;
  justify-content: center;

  img {
    width: 30px;
    height: 30px;
  }

  span {
    font-size: 1.8em;
    font-weight: bold;
    padding: 0 5px;
  }
}

/*
  Gear
*/

.gear {
  padding: 30px 15px;

  .gear-description {
    p {
      padding: 5px 0;
    }
  }
}

.g-main {
  justify-content: center;

  .g-sub {
    padding: 10px 0;

    h3 {
      text-align: center;
    }
    .g-title {
      width: fit-content;
      padding: 5px 0;
      margin: auto;
      cursor: pointer;
    }
    .g-main {
      display: none;

      .g-gear {
        display: flex;
        flex-wrap: wrap;

        a {
          padding: 0 3px;
          margin: 0 auto;
        }
      }
      .g-un {
        margin: auto;
        padding: 5px;
      }
      .g-uw {
        margin: 0 auto;
        width: 135px;
        text-align: center;
      }
      .g-un, .guw {
        p {
          margin: 0;
          justify-content: center;
          display: flex;
        }
      }
    }
    #cl {
      margin: 0 5px;
    }
    div {
      a {
        display: block;
        padding: 0 5px;

        img {
          width: 75px;
          height: 75px;
        }
      }
    }
  }
}

.c-gear {
  padding-top: 10px;

  .c-g {
    justify-content: center;
  }
}

h4 {
  padding: 0 3px;
  margin: auto 0;
  text-align: center;
}

.g-stat {
  display: flex;
  width: 230px;
  // margin: 5px;

  .g-stat-name {
    p:first-of-type {
      display: block !important;
    }
  }
  p {
    margin: 0;
  }
}

.g-description {
  width: 500px;
  border: 1px solid;
  border-radius: 10px 10px 10px 10px;
  background: rgba(210, 210, 210, 1);
  display: none;
  position: relative;
  margin: -50px 60px;
  padding: 0px 5px;
  font-size: medium;

  p {
    padding: 3px;
  }
}
.c-perk-img:hover .g-description {
  display: grid;
  gap: 1px 1px;
  grid-template-areas: "p1 p1" "p2 p3" "p4 p4";

  .p1 {
    grid-area: p1;
    font-weight: bold;
    padding: 10px 5px 3px 5px;
    // text-align: center;
  }
  .p2 {
    grid-area: p2;
    padding: 0 5px;
    margin-left: 0;
  }
  .p3 {
    grid-area: p3;
    margin-right: 0px;
    padding: 0 5px;
   }
  .p4 {
    grid-area: p4;
    padding: 3px 5px 10px 5px;
  }
}

/*
  Calc
*/

.calc {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  width: 100%;

  select {
    outline: 0;

    option, optgroup {
      color: black;
      background: rgba(0, 0, 0, 0.4);
    }
  }
  #calc {
    // margin: 0 auto;
    margin: 30px auto;
  }
  .from-calc {
    width: 500px;

    .form-input {
      .w-in, .tr-in, #calc_gear_armor, #calc_gear_secondary, #calc_gear_jewelry, #calc_gear_orb, #calc_gear_artifact {
        background-size: 50px 50px;
        width: 52px;
        height: 52px;
        color: transparent;
      }
      .img {
        width: 52px;
      }
      .gSt {
        width: 125px;
        height: 50px;

        .c {
          display: flex;
        }
        .rating {
          display: none;
          unicode-bidi: bidi-override;
          direction: rtl;
          float: left;
          margin-top: -3px;

          .bt0 {
            width: 15px;
            font-size: 12px;
            vertical-align: 2px;
          }
          input {
            display: none;
          }
        }
      }
      .gOption {
        display: none;
        position: relative;
        height: 50px;

        .opt {
          .calc_st_weapon, .calc_st_treasure, .calc_st_armor, .calc_st_secondary, .calc_st_jewerly, .calc_st_orb, .op {
            height: 0;
          }
          .calc_st_weapon_st, .calc_st_treasure_st, .calc_st_armor_st, .calc_st_secondary_st, .calc_st_jewerly_st, .calc_st_orb_st {
            width: 0;
          }
          #q1, #q2, #q3, #q4, #q5, #q6, #q7 {
            display: none;
          }
          .ay {
            position: relative;
            left: 70px;
            min-width: 65px;
          }
          select {
            height: 20px;
            border: 1px solid rgba(255, 255, 255, 0);
            opacity: 1;
          }
          input {
            position: relative;
            left: 121px;
            bottom: 21px;
          }
          .w-ad {
            position: relative;
            left: -20px;
          }
          .w-ad-ench {
            position: relative;
            left: 25px;
            width: 37px;
          }
          .range {
            .r-sl {
              display: flex;
              justify-content: center;

              span {
                padding: 0 5px;
              }
              .range-ou1 {
                color: rgb(139, 0, 0);
              }
              .range-ou2 {
                color: rgb(0, 200, 50);
              }
            }
            input:focus {
              outline: none;
            }
            input::-webkit-slider-runnable-track {
              width: 100%;
              height: 4px;
              cursor: pointer;
              animate: 0.2s;
              background: rgb(2, 168, 244);
              border-radius: 25px;
            }
            input::-webkit-slider-thumb {
              height: 10px;
              width: 10px;
              border-radius: 50%;
              background: #fff;
              box-shadow: 0 0 4px 0 rgba(0,0,0, 1);
              cursor: pointer;
              -webkit-appearance: none;
              margin-top: -3px;
            }
            input:focus::-webkit-slider-runnable-track {
              background: rgb(2, 168, 244);
            }
            input {
              position: relative;
              left: 0;
              bottom: 0;
              -webkit-appearance: none;
              margin: 15px 0;
            }
          }
        }
      }
      #g-left {
        right: 185px;
        bottom: 103px;
      }
      #g-right {
        left: 120px;
        bottom: 103px;
      }
      #g-treasure {
        left: 120px;
        bottom: 210px;
        .ay {
          position: relative;
          left: 150px;
        }
      }
      .scnd {
        margin: 3px 0;
      }
      .rating > label {
        display: inline-block;
        position: relative;
        font-size: 20px;
      }
      .rating > #bt-star.active:before,
      .rating > #bt-star.active ~ #bt-star:before,
      .rating > #bt-star:hover:before,
      .rating > #bt-star:hover ~ #bt-star:before {
        content: "\2605";
        position: absolute;
      }
    }
    ::-webkit-scrollbar {
      display: none;
    }
    .heroGear {
      display: grid !important;
      grid-template: "item1 item2 item3 item4";

      #empty-block {
        width: 52px;
        height: 100px;
      }
      div {
        width: 125px;
        margin: auto;

        .form-input {
          margin: 5px 0;
          height: 100px;
          min-height: 52px;
        }
      }
    }
  }
  .totalStat {
    width: 450px;
    height: fit-content;

    .hero-img {
      .hch {
        width: 450px;
        display: none;

        .heroImg {
          margin: auto;

          div {
            display: grid;
            grid-template: "item1 item2";
            background-image: url(/images/media/classes/stat.png);
            background-size: 450px 25px;
            font-size: 15px;
            line-height: 25px;
            color: rgb(171, 142, 116);
          }
          p {
            img {
              width: 20px;
              height: 20px;
              margin-right: 5px;
              vertical-align: -4px;
            }
          }
          #p1 {
            width: 150px;
            padding-left: 15px;
            text-align: left;
          }
          #p2 {
            width: 265px;
            padding: 0 10px;
            text-align: left;
          }
        }
        .heroImg::before {
          content: '';
          background: url('/images/media/classes/basic head.png');
          background-size: 450px;
          height: 35px;
          display: block;
        }
        .heroImg::after {
          content: '';
          background: url('/images/media/classes/stat foot.png');
          background-size: 450px;
          height: 14px;
          display: block;
        }
        .heroPerk {
          margin: auto;
          display: flex;

          .hero-avatar {
            width: 130px;
            margin: auto;

            img {
              width: 75px;
              border-radius: 10%;
            }
          }
          .perk-tp {
            display: flex;
            margin-left: auto;
            width: fit-content;

            img {
              width: 24px;
              height: 24px;
              margin: 0 5px;
            }
          }
          .c-perk-img {
            margin: 1px;
            width: 42px;
            height: 42px;

            img {
              width: 40px !important;
              height: 40px !important;
              filter: grayscale(1);
            }
            .s-description {
              top: 30px !important;
              left: -435px !important;
              z-index: 1;
            }
            .calc-s-description {
              top: 30px !important;
              left: -455px !important;
              z-index: 1;
            }
          }
        }
      }
    }
    .t-st {
      display: none;
    }
    .t-total {
      .statsBase::before {
        content: '';
        background: url('/images/media/classes/base head.png');
        background-size: 450px;
        height: 35px;
        display: block;
      }
      .statsAdd::before {
        content: '';
        background: url('/images/media/classes/add head.png');
        background-size: 450px;
        height: 35px;
        display: block;
      }
      .statSet::before {
        content: '';
        background: url('/images/media/classes/set head.png');
        background-size: 450px;
        height: 14px;
        display: block;
      }
      .statsBase::after, .statsAdd::after, .statSet::after {
        content: '';
        background: url('/images/media/classes/stat foot.png');
        background-size: 450px;
        height: 14px;
        display: block;
      }
      .r-stats {
        .r-stat {
          background-image: url('/images/media/classes/stat.png');
          background-size: 450px 25px;
          font-size: 15px;
          line-height: 25px;
          color: rgb(171, 142, 116);

          p {
            height: 25px;
            margin: 0;
          }
          #s-name {
            width: 150px;
            padding-left: 15px;
            text-align: left;
          }
          #s-val {
            width: 265px;
            padding: 0 10px;
            text-align: left;
          }
          #s-per {
            width: 50px;
            margin-left: -60px;
          }
          #plsSt1 {
            color: rgb(50, 170, 180);
          }
          #plsSt2 {
            color: rgb(0, 200, 50);
          }
        }
        .r-set {
          display: grid;
          height: auto !important;
          grid-template: "item1 item2";
          background-image: url('/images/media/classes/stat.png');
          background-size: 450px 25px;
          font-size: 15px;
          line-height: 25px;
          color: #8e8073;
          text-align: left;

          #s-name {
            width: 150px;
            padding-left: 15px;
          }
          #sb {
            display: grid;
            width: 265px;
            height: auto;
            padding: 0 10px;
          }
        }
      }
    }
  }
}

.pick {
  filter: grayscale(0) !important;
}

.simple_form {
  display: block;
}

.form-input {
  margin: 10px;

  label {
    display: block;
  }
}

#char, .class-stats > div, .form-input > div > select, #calc_gear_artifact {
  display: none;
}

/*
  Search bar
*/

.easy-autocomplete {
  width: 100% !important;
  position: relative;
}

.easy-autocomplete input {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
  border: 1px solid rgb(204, 204, 204);
  color: rgb(85, 85, 85);
  float: none;
}

.easy-autocomplete input:hover, .easy-autocomplete input:focus {
  box-shadow: none;
}

.easy-autocomplete a {
  display: block;
}

.easy-autocomplete-container {
  color: rgb(185, 185, 185);
  background: rgb(75, 75, 75);
  border: 0.1px solid rgb(70, 70, 70);
  border-bottom: none;
  border-top: none;
  position: relative;
  // left: 3px;
  // bottom: -7px;
  // width: 100%;
  // z-index: 2;
}

.easy-autocomplete-container ul {
  display: none;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  position: relative;
}

.easy-autocomplete-container ul li, .easy-autocomplete-container ul .eac-category {
  display: block;
  font-size: 15px;
  font-weight: normal;
  padding: 2px 25px;
}

.easy-autocomplete-container ul li:last-child {
}

.easy-autocomplete-container ul li.selected {
  background: none repeat scroll 0 0 rgb(200, 200, 200);
  border: 0.1px solid rgb(70, 70, 70);
  color: rgb(0, 0, 0);
  cursor: pointer;
}

.easy-autocomplete-container ul li.selected div {
  font-weight: normal;
}

.easy-autocomplete-container ul li div {
  display: block;
  font-weight: normal;
  // word-break: break-all;
}

.easy-autocomplete-container ul li b {
  font-weight: bold;
}

.easy-autocomplete-container ul .eac-category {
  padding: 3px 10px;
  font-size: 1em;
  font-style: italic;
  font-variant: petite-caps;
}

.eac-icon {
  display: table;
  margin: 0 auto;
  padding: 5px 0px;
  min-width: 50px;
  max-width: 100px;
  min-height: 50px;
  max-height: 100px;
}

// .search-main {
//   width: 100%;
//   display: flex;
//   margin-top: 20px;
//   text-align: center;
//
//   .search-sub {
//     margin: 0 auto;
//     overflow: hidden;
//
//     .search-block {
//       padding: 0 5px;
//       font-size: 1.5em;
//       text-align: center;
//       margin-bottom: 5px;
//       border-radius: 10px;
//       font-family: monospace;
//       background: rgb(75, 75, 75);
//       box-shadow: 0px 0px 5px 0px;
//       color: rgb(185, 185, 185);
//     }
//     a {
//       display: block;
//       margin-bottom: 5px;
//
//       img {
//         width: 150px;
//       }
//     }
//   }
// }

.tgl {
  display: none;
}
.tg-list-item {
  list-style: none;

  .ut-stat {
    display: flex;
    justify-content: center;
    span {
      width: auto;
    }
  }
  .ut-check {
    display: none;
  }
  #ut-check {
    width: 100px;
    display: flex;
    margin: 3px auto;
    line-height: 20px;
  }
  #ut-stat {
    display: none;
  }
  span {
    width: 45px;
    padding: 0 5px;
  }
}
.tgl, .tgl:after, .tgl:before, .tgl *, .tgl *:after, .tgl *:before, .tgl + .tgl-btn {
  box-sizing: border-box;
}
.tgl::-moz-selection, .tgl:after::-moz-selection, .tgl:before::-moz-selection, .tgl *::-moz-selection, .tgl *:after::-moz-selection, .tgl *:before::-moz-selection, .tgl + .tgl-btn::-moz-selection {
  background: none;
}
.tgl::selection, .tgl:after::selection, .tgl:before::selection, .tgl *::selection, .tgl *:after::selection, .tgl *:before::selection, .tgl + .tgl-btn::selection {
  background: none;
}
.tgl + .tgl-btn {
  outline: 0;
  display: block;
  width: 40px;
  height: 20px;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.tgl + .tgl-btn:after, .tgl + .tgl-btn:before {
  position: relative;
  display: block;
  content: "";
  width: 50%;
  height: 100%;
}
.tgl + .tgl-btn:after {
  left: 0;
}
.tgl + .tgl-btn:before {
  display: none;
}
.tgl:checked + .tgl-btn:after {
  left: 50%;
}

.tgl-light + .tgl-btn {
  background: #f0f0f0;
  border-radius: 2em;
  padding: 2px;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}
.tgl-light + .tgl-btn:after {
  border-radius: 50%;
  background: #fff;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}
.tgl-light:checked + .tgl-btn {
  background: #9FD6AE;
}
