/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.h-main {
  display: flex;
  flex-wrap: wrap;

  .h-char {
    margin: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);

    .h-avatar {
      width: 124px;
      height: 124px;

      a {
        display: block;
      }
    }

    .h-sub {
      display: flex;

      .h-name {
        margin: auto;
      }
      .h-type {
        padding: 5px;

        img {
          width: 10px;
        }
      }
    }
  }
}

.p-main {
  display: flex;
  flex-wrap: wrap;

  .p-perk {
    margin: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);

    .p-image {
      width: 122px;
      height: 122px;

      a {
        display: block;
      }
    }
  }
}
