@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  background: #757575;
  padding: 10px;
  font-family: 'Quicksand', sans-serif;
  font-size: large;
  font-weight: bold;
}

::-webkit-scrollbar {
  display: none;
}

.home {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .home-a {
    text-align: center;

    p {
      width: 124px;
      border: 1px solid rgba(0, 0, 0, 0.1);
      background: rgb(80, 80, 80);
      color: white;
    }
    a {
      display: none;
      margin: 5px 0;
      outline: none;
      text-decoration: none;
      color: black;
      animation: fadein 0.5s;
    }
    img {
      width: 124px;
      height: 124px;
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    }
  }
}

@keyframes fadein {
  from {opacity: 0}
  to {opacity: 1}
}

.home-a:hover a {
  display: block;
  opacity: 1;
}

.h-title {
  padding: 5px 0;
  display: flex;
  cursor: pointer;
  justify-content: center;

  img {
    width: 20px;
    height: 20px;
    margin: 2px 5px;
    border-radius: 50%;
    box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.5);
  }
}

#centr {
  text-align: center;
}

.h-main {
  display: none;

  .h-char {
    width: 124px;
    margin: 5px;

    .h-avatar {
      width: 124px;
      height: 124px;
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);

      a {
        display: block;
      }
    }

    .h-sub {
      display: flex;

      .h-name {
        margin: auto;
      }
      .h-type {
        padding: 3px;

        img {
          width: 14px;
        }
      }
    }
  }
}

/*
  Hero Show
*/

.c-main {
  display: flex;
  flex-wrap: wrap;
}

.c-background {
  text-align: center;

  img {
    width: 750px;
    padding: 5px;
  }
}

.c-sub {
  margin: auto;

  .c-title {
    display: flex;
    width: 150px;
    img {
      width: 20px;
      height: 20px;
    }
    p {
      margin: auto;
      // font-size: 1.5em;
    }
    #c-class img {
      border-radius: 50%;
      box-shadow: 0 0 3px 1px black;
    }
  }
  .c-sk, .c-tr, .c-p, .c-g {
    display: flex;

    .c-perk-img {
      margin: 3px;
      width: 62px;
      height: 62px;

      img:not(#manaOrb) {
        width: 60px;
        height: 60px;
      }
    }
    .c-pepe {
      display: grid;
      grid-template:
          "item1 item2 item3 item4"
          "item5 item6 item7 item8";
    }
  }
  .c-stat {
    p {
      margin: 3px;
    }
    #c-stat {
      text-align: center;
    }
  }
  .r-stat {
    display: grid;
    grid-template: "item1 item2";
    text-align: center;

    p {
      width: 150px;
      margin: 5px;
    }
  }
}

.s-description {
  width: 400px;
  border: 1px solid;
  border-radius: 10px 10px 10px 10px;
  background: rgba(210, 210, 210, 1);
  display: none;
  position: relative;
  margin: -45px 30px;
  padding: 0px 5px;
  font-size: medium;

  p {
    padding: 3px;
  }
}
.c-perk-img:hover .s-description {
  display: grid;
  gap: 1px 1px;
  grid-template-areas: "p1 p1" "p2 p3" "p4 p4";

  .p1 {
    grid-area: p1;
    font-weight: bold;
    padding: 10px 5px 5px 5px;
  }
  .p2 {
    grid-area: p2;
    height: 20px;
    padding: 5px;
    margin: auto;
    margin-left: 0;
  }
  .p3 {
    grid-area: p3;
    height: 20px;
    margin: auto;
    margin-right: 0px;
    padding-right: 10px;
   }
  .p4 {
    grid-area: p4;
    padding: 10px 5px;
  }
}

#manaOrb {
  width: 16px;
  margin: -2px 0px;
}

#c-skill {
  margin: auto;
}

input {
  width: -webkit-fill-available;
}

/*
  Perk
*/

.p-main {
  display: flex;
  flex-wrap: wrap;

  .p-perk {
    margin: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);

    .p-image {
      width: 122px;
      height: 122px;
      cursor: pointer;

      a {
        display: block;
      }
    }
  }
}

/*
  Skill
*/

.skill {
  .p-img {
    padding: 5px;

    img {
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    }
  }
}

.s-skills {
  display: flex;
}

/*
  Class
*/

.r-stats {
  width: 320px;

  .class {
    display: flex;

    p {
      margin: 5px;

      img {
        border-radius: 50%;
        box-shadow: 0 0 5px 1px black;
      }
      a {
        display: block;
        outline: none;
        text-decoration: none;
        color: black;
      }
    }
  }
  .r-stat {
    display: grid;
    grid-template: "item1 item2";
    text-align: center;

    p {
      width: 150px;
      margin: 5px;
    }
  }
}

/*
  Rune
*/

.r {
  display: flex;
  justify-content: center;

  img {
    width: 30px;
    height: 30px;
  }

  span {
    font-size: 1.8em;
    font-weight: bold;
    padding: 0 5px;
  }
}

/*
  Gear
*/

.g-main {
  justify-content: center;

  .g-sub {
    padding: 10px 0;

    h3 {
      text-align: center;
    }
    .g-title {
      width: fit-content;
      padding: 5px 0;
      margin: auto;
      cursor: pointer;
    }
    .g-main {
      display: none;

      .g-gear {
        display: flex;
        flex-wrap: wrap;

        a {
          padding: 0 3px;
          margin: 0 auto;
        }
      }
      .g-un{
        margin: 0 auto;
        padding: 5px;

        p {
          margin: 0;
          justify-content: center;
          display: flex;
        }
      }
    }
    #cl {
      margin: 0 5px;
    }
    div {
      a {
        display: block;

        img {
          width: 90px;
          height: 90px;
        }
      }
    }
  }
}

.c-gear {
  padding-top: 10px;

  .c-g {
    justify-content: center;
  }
}

h4 {
  padding: 0 3px;
  margin: auto 0;
  text-align: center;
}

.g-stat {
  display: flex;
  width: 230px;
  margin: 5px;

  .g-stat-name {
    p:first-of-type {
      display: block !important;
    }
  }
  p {
    margin: 0;
  }
}

.g-star-button {
  .g-img {
    img {
      width: 124px;
      height: 124px;
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    }
  }
  .g-button {
    display: flex;

    button {
      width: 32px;
      height: 32px;
      border: 1px solid;
      margin: 3px;
      outline: none;
      background: #f0f0f0;
    }
    .b-act {
      background: #808080;
    }
    .btn {
      display: none;
    }
  }
  #p0 {
    padding: 0;
  }
}
.g-stat {
  p {
    display: none;
  }
}

.class-stats {
  width: fit-content;
}

/*
  Calc
*/

.calc {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  width: 100%;
  height: 150px;
  margin: auto;

  #calc {
    margin: auto 50px;
    width: 300px;
  }
  .from-calc {
    // width: 200px;
    // height: 150px;
  }
  .class-stats {
    height: 270px;
  }
  .class-stats > div:nth-child(n) {
    display: none;
  }
  .hero-gear > div:nth-child(n) {
    display: none;

    p {
      margin: 0;
    }
    .gear-img {
      // display: flex;
      // justify-content: center;

      img {
        width: 50px;
        height: 50px;
      }
      p {
        margin: 0 auto;
      }
      p:first-child {
        // padding: 18px 5px;
      }
      p:last-child {
        padding: 5px 0;
      }
    }
    .g-star-button {
      .g-button {
        display: block;
        // justify-content: center;
        // width: 300px;
        height: 40px;

        .g-val {
          p {
            // padding: 11px 3px;
          }
        }
      }
      .g-stat-name {
        display: flex;
        justify-content: center;

        p {
          padding: 0 5px;
        }
        .g-stat {
          p {
            display: block;
          }
        }
      }
    }
  }
}

.simple_form {
  display: block;
}

.form-input {
  margin: 10px;

  label {
    display: block;
  }
}

.totalStat {
  width: 300px;
  height: 100px;
  border: 1px solid;
  .t-atk {
    display: flex;
  }
}
